# 1.Tugas Praktek


---


Buatlah sebuah program yang dapat menentukan suatu variabel
apakah merupakan bilangan genap atau ganjil. Lakukan percobaan
dengan langkah berikut:

1. Buat variabel dengan nama “angka” yang diisi dengan nilai 10

2. Gunakan fungsi IF untuk menentukan angka modulus 2 bernilai 0.

3. Jika angka bernilai genap maka keluarkan "angka termasuk
bilangan genap". Selanjutnya, ganti nilai variable angka dengan
nilai 5 dan ceklah kembali apakah angka bernilai ganjil. Jika iya,
keluarkan "angka termasuk bilangan ganjil"

In [57]:
# Buat variabel dengan nama "angka" dan isi dengan nilai 10
angka = 10

# Gunakan fungsi IF untuk menentukan apakah angka merupakan bilangan genap atau ganjil
if angka % 2 == 0:
    print("angka termasuk bilangan genap")
else:
    print("angka termasuk bilangan ganjil")

# Ganti nilai variabel angka dengan nilai 5
angka = 5

# Cek kembali apakah angka sekarang merupakan bilangan ganjil
if angka % 2 != 0:
    print("angka termasuk bilangan ganjil")

angka termasuk bilangan genap
angka termasuk bilangan ganjil

# 2.Tugas Praktek

---


Buatlah sebuah program yang bisa mengeluarkan angka 1 sampai 10.

1. Tampilan akan menunjukan "Angka ganjil 1" untuk angka ganjil dan
2. "Angka genap 2" untuk angka genap. (Menggunakan looping for)

Note: Kode dasar sudah disertakan, Anda cukup mengganti tanda #
dengan nilai-nilai yang sesuai.

In [14]:
# Gunakan looping for untuk mengiterasi angka dari 1 sampai 10
for angka in range(1, 11):
    # Gunakan fungsi IF untuk menentukan apakah angka merupakan bilangan genap atau ganjil
    if angka % 2 == 0:
        print(f"Termasuk Angka genap  :{angka}")
    else:
        print(f"Termasuk Angka ganjil :{angka}");

Termasuk Angka ganjil :1
Termasuk Angka genap  :2
Termasuk Angka ganjil :3
Termasuk Angka genap  :4
Termasuk Angka ganjil :5
Termasuk Angka genap  :6
Termasuk Angka ganjil :7
Termasuk Angka genap  :8
Termasuk Angka ganjil :9
Termasuk Angka genap  :10

# **Praktikum Regular Expression**

Data yang diberikan berupa file yang diberi nama https://storage.googleapis.comdqlab-dataset/dqlabregex.tsv (TSV : Tab Separated Value).

Anda diminta untuk melengkapi kode ___ yang telah diberikan melalui Code Editor.

In [56]:
#Import library yang dibutuhkan
import pandas as pd
#Baca file dqlabregex.tsv
dqlabregex = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqlabregex.tsv", sep = '\t')
#Tampilkan hasilnya
print(dqlabregex)

   no_pencatatan tanggal_catat      kota jumlah_member staf_pencatat
0              1    01-05-2020   Jakarta           311         Andra
1              2    30-06-2020   Jakarta           1I2         Andra
2              3    05/02/2020   Bandung           5S0        Antara
3              4    06/28/2020   Bandung           670        Antara
4              5    05/10/2020  Semarang           81O         Senja
5              6    06/28/2020  Semarang           1O2        Sendja

# **Tantangan Pertama anda**

In [64]:
#Import library yang dibutuhkan
import pandas as pd

#Baca file dqlabregex.tsv
dqlabregex = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqlabregex.tsv", sep = '\t')

#Buat kolom baru kota_awalan_J_S
dqlabregex['kota_awalan_j_s'] = dqlabregex['kota'].str.contains('^(j|s)', case = False)

#Tampilkan hasilnya
print(dqlabregex[['kota','kota_awalan_j_s']])

       kota  kota_awalan_j_s
0   Jakarta             True
1   Jakarta             True
2   Bandung            False
3   Bandung            False
4  Semarang             True
5  Semarang             True

<ipython-input-64-5ad19509496b>:8: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  dqlabregex['kota_awalan_j_s'] = dqlabregex['kota'].str.contains('^(j|s)', case = False)

# **Praktikum 1**
Tugas membuat kolom baru bernama pencatat_senja berisi nilai kebenaran dari nama petugas
pencatat pada kolom staf_pencatat di dataframe dqlabregex dengan nama Senja atau Sendja.
Namun pikirkan baik – baik notasi regex yang akan digunakan, sebisa mungkin notasi yang
diketikkan sesuai juga dengan teks SenDja, Sen_ja, dan sebagainya yang memungkinkan.
Tampilkan kolom staf_pencatat dan pencatat_senja untuk mengetahui hasilnya

In [34]:
#Import library yang dibutuhkan
import pandas as pd

#Baca file dqlabregex.tsv
dqlabregex = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqlabregex.tsv", sep = '\t')

#Buat kolom baru pencatat_senja
dqlabregex['pencatat_senja'] = dqlabregex['staf_pencatat'].str.contains('Sen.?ja')

#Tampilkan hasilnya
print(dqlabregex[['staf_pencatat','pencatat_senja']])

  staf_pencatat  pencatat_senja
0         Andra           False
1         Andra           False
2        Antara           False
3        Antara           False
4         Senja            True
5        Sendja            True

# **Praktikum 2**
Pada kolom jumlah_member di tabel dqlabregex, jumlah menunjukkan kuantitas yang artinya hanya
angka saja (numerik) yang boleh menjadi isi rownya (record data). Namun pada tabel tersebut
terdapat kesalahan pengetikan / penginputan data sehingga terdapat karakter non-numerik pada
kolom jumlah_member.
Anda diminta untuk memeriksa dan menampilkan kesalahan input data pada kolom tersebut. Coba
kamu buat sebuah sintaks yang menampilkan kesalahan penulisan angka pada

In [35]:
#Import library yang dibutuhkan
import pandas as pd

#Baca file dqlabregex.tsv
dqlabregex = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqlabregex.tsv", sep = '\t')

#Buat kolom baru char_nonnumerik untuk mengetahui jumlah_member non numerik
dqlabregex['char_nonnumerik'] = dqlabregex['jumlah_member'].str.contains('[^0-9]')

#Tampilkan hasilnya
print(dqlabregex[['jumlah_member','char_nonnumerik']])

  jumlah_member  char_nonnumerik
0           311            False
1           1I2             True
2           5S0             True
3           670            False
4           81O             True
5           1O2             True

# **Tantangan Kedua Anda**
Anda mencoba untuk mengubah kata Sendja atau padanannya (jika ada) seperti SenDja, Sen#ja,
Sen_ja, Sen7ja, dsb menjadi satu kata 'Senja' yang terdapat di
kolom staf_pencatat pada dataframe dqlabregex.

In [46]:
# Import library yang dibutuhkan
import pandas as pd

# Baca file dqlabregex.tsv
dqlabregex = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqlabregex.tsv", sep='\t')

# Ubah kata Sendja, dsb menjadi Senja pada kolom staf_pencatat
dqlabregex['staf_pencatat'] = dqlabregex['staf_pencatat'].str.replace('Sen.?ja', 'Senja', regex=True)

# Tampilkan hasilnya
print(dqlabregex[['staf_pencatat']])

  staf_pencatat
0         Andra
1         Andra
2        Antara
3        Antara
4         Senja
5         Senja

# **Tantangan Ketiga Anda**
Anda mencoba untuk membuat kolom baru bernama jumlah_member_clean yang berisi hasil
pengubahan karakter non-numerik pada kolom jumlah_member yang terdapat
pada dataframe dqlabregex dengan ketentuan sebagai berikut :

In [47]:
#Import library yang dibutuhkan
import pandas as pd

#Baca file dqlabregex.tsv
dqlabregex = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqlabregex.tsv", sep = '\t')

#Ubah karakter pada kolom jumlah_member sesuai ketentuan
mapchange = {'O':'0','I':'1','S':'5'}
dqlabregex['jumlah_member_clean'] = dqlabregex['jumlah_member']

for ubah, pengubah in mapchange.items():
 dqlabregex['jumlah_member_clean'] = dqlabregex['jumlah_member'].str.replace(ubah,pengubah, case = False)

#Tampilkan hasilnya
print(dqlabregex[['jumlah_member', 'jumlah_member_clean']])

  jumlah_member jumlah_member_clean
0           311                 311
1           1I2                 1I2
2           5S0                 550
3           670                 670
4           81O                 81O
5           1O2                 1O2

# **Praktikum 3**
Anda ingin menghapus kesalahan input data pada kolom jumlah_member yang terdapat
pada dataframe dqlabregex. Caranya dengan membuat sebuah sintaks untuk menghapus karakter
non-numerik pada kolom tersebut atau dengan kata lain ubah karakter non-numerik menjadi string
kosong.

In [58]:
# Import library yang dibutuhkan
import pandas as pd

# Baca file dqlabregex.tsv
dqlabregex = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqlabregex.tsv", sep='\t')

# Hapus karakter non-numeric pada kolom jumlah_member
dqlabregex['jumlah_member'] = dqlabregex['jumlah_member'].str.replace('[^0-9]', '', regex=True)

# Tampilkan hasilnya
print(dqlabregex[['jumlah_member']])

  jumlah_member
0           311
1            12
2            50
3           670
4            81
5            12

# **Praktikum 4**
Perhatikan tabel dqlabregex, pada kolom tanggal_catat ternyata format tanggal
pada baris pertama dan kedua berbeda dengan lainnya. Untuk merapikannya, aku
memutuskan untuk merubah standarisasi penulisan tanggal DD-MM-YYYY (tanggal -
bulan - tahun) menjadi MM/DD/YYYY (bulan / tanggal / tahun) agar seragam.

In [51]:
# Import library yang dibutuhkan
import pandas as pd

# Baca file dqlabregex.tsv
dqlabregex = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqlabregex.tsv", sep='\t')

# Reformat kolom tanggal_catat
dqlabregex['tanggal_catat'] = dqlabregex['tanggal_catat'].str.replace('([0-9]{2})-([0-9]{2})-([0-9]{4})', '\\2/\\1/\\3', regex=True)

# Tampilkan hasilnya
print(dqlabregex[['tanggal_catat']])

  tanggal_catat
0    05/01/2020
1    06/30/2020
2    05/02/2020
3    06/28/2020
4    05/10/2020
5    06/28/2020

# **Ready To Use Data**

---


Data file https://storage.googleapis.com/dqlab-dataset/dqlabregex.tsv, dan tak lupa memberikan
instruksi untuk membaca data dan mengganti record pada masing-masing kolom:
1. Pada kolom tanggal_catat ubah semua format tanggalnya menjadi format tanggal menjadi
format YYYY-MM-DD. Lalu ubah tipe datanya menjadi datetime dengan bantuan sintaks
(pd.datetime(Series))
2. Hapus setiap karakter non-numerik pada kolom jumlah_member lalu ubah tipedatanya menjadi
integer dengan bantuan sintaks (Series.astype('int'))
3. Ubah record yang memuat Sendja maupun padanannya menjadi Senja
4. Penamaan kolom dan urutannya tidak ada yang diubah
Ubah tabel awal dqlabregex dari Tabel A menjadi Tabel B:

In [65]:
#Import library yang dibutuhkan
import pandas as pd

#Baca file dqlabregex.tsv
dqlabregex = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqlabregex.tsv", sep = '\t')
print("Tabel A:")
print(dqlabregex)

#Ubah karakter pada kolom jumlah_member sesuai ketentuan
mapchange = {'([0-9]{2})-([0-9]{2})-([0-9]{4})': '\\3-\\2-\\1', '([0-9]{2})/([0-9]{2})/([0-9]{4})' : '\\3-\\1-\\2'}
for ubah, pengubah in mapchange.items():
  dqlabregex['tanggal_catat'] = dqlabregex['tanggal_catat'].str.replace(ubah, pengubah, regex=True)


#Ubah menjadi tipedata datetime pada kolom tanggal_catat
dqlabregex['tanggal_catat'] = pd.to_datetime(dqlabregex['tanggal_catat'])

#Hapus karakter non numerik pada kolom jumlah_member dan ubah tipedatanya menjadi integer
dqlabregex['jumlah_member'] = dqlabregex['jumlah_member'].str.replace('[^0-9]', '', regex=True)
dqlabregex['jumlah_member'] = dqlabregex['jumlah_member'].astype('int')

#Ubah kata Sendja ataupun padanannya menjadi satu kata 'Senja' pada kolom staf_pencatat
dqlabregex['staf_pencatat'] = dqlabregex['staf_pencatat'].str.replace('Sen.?ja', 'Senja', regex=True)

#Tampilkan hasilnya
print("\nTabel B:")
print(dqlabregex)

Tabel A:
   no_pencatatan tanggal_catat      kota jumlah_member staf_pencatat
0              1    01-05-2020   Jakarta           311         Andra
1              2    30-06-2020   Jakarta           1I2         Andra
2              3    05/02/2020   Bandung           5S0        Antara
3              4    06/28/2020   Bandung           670        Antara
4              5    05/10/2020  Semarang           81O         Senja
5              6    06/28/2020  Semarang           1O2        Sendja

Tabel B:
   no_pencatatan tanggal_catat      kota  jumlah_member staf_pencatat
0              1    2020-05-01   Jakarta            311         Andra
1              2    2020-06-30   Jakarta             12         Andra
2              3    2020-05-02   Bandung             50        Antara
3              4    2020-06-28   Bandung            670        Antara
4              5    2020-05-10  Semarang             81         Senja
5              6    2020-06-28  Semarang             12         Senja